node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# VS Code (optional)
.vscode/

/src/routes/generated/*
AI_CONVENTIONS.md
.github/instructions/CONVENTIONS.instructions.md
