---
created: '2025-11-30T21:41:08.354Z'
modified: '2025-12-09T03:34:37.245Z'
---

<script>
  import GeneralNote from '$lib/templates/GeneralNote.svelte';
  import WikiLink from '$lib/components/WikiLink.svelte';
  const frontmatter = {
  "created": "2025-11-30T21:41:08.354Z",
  "modified": "2025-12-09T03:34:37.245Z"
};
  const pagePath = 'stack/rust/seaorm/seaorm-moc';
</script>

<GeneralNote {frontmatter} {pagePath}>

<WikiLink path="Configuration" />



</GeneralNote>
